@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.main-content {
    width: 300px;
    top: 40%;
    left: 50%;
    right: 50%;
    position: absolute;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

html {
  background-color: #050505;
}

body {
  font-family: 'Product Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #adadad;
}

h1 {
  color: #e0e0e0;
  margin-bottom: 30px;
}

h2 {
  color: #4d4acf;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
}

h3 {
  color: #adadad;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

/* Figure Image */
figure {
  margin-top: 60px;
  margin-bottom: 5px;
  display: block;
  align-content: center;
}

/* Icons */
.social {
  padding: 0;
  margin: 0;
  text-align: center;
}
.social li {
  display: inline-block;
}
.social li a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: #6f8cf7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  html {
    height: 100%;
  }

  body {
    background-repeat: no-repeat;
  }

  .social li a {
    padding: 14px 10px;
    visibility: visible;
  }
}

.social li a:hover {
  color: #ffffff;
}

.social li a:hover, .social li a:active, .social li a:focus {
  outline: none;
  text-decoration: none;
}

/* Footer */
#footer {
  color: #777777;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

/* Particles container */
#particles-js {
  text-align: center;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #050505;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
